<div class="flexbox-row">
  <div class="column-left" id="map"></div>
  <div class="column-right">
    <div>
      <button id="button_download" class="buttonColor" md-raised-button (click)="downloadAllPositions()"
              [disableRipple]="true">Download
        <md-icon id="icon_download" class="md-16" style="float: right;">system_update_alt</md-icon>
      </button>
      <a href="" id="aDownload"></a>
    </div>
    <br>
    <div *ngFor="let marker of markers">
      <md-card class="card" [style.background-color]=marker.color>
        <md-card-content>
          {{marker.position.latitude | number:'.1-3'}}<br>
          {{marker.position.longitude | number:'.1-3'}}<br>
        </md-card-content>
        <md-card-actions>
          <button class="buttonColor" md-mini-fab (click)="editInID(marker.position)" [disableRipple]="true">
            <md-icon class="md-16">mode_edit</md-icon>
          </button>
          <button class="buttonColor" style="float: right;" md-mini-fab (click)="goToPosition(marker.position)"
                  [disableRipple]="true">
            <md-icon class="md-16">navigation</md-icon>
          </button>
        </md-card-actions>
      </md-card>
    </div>
    <br>
    <md-card>
      <md-card-content>
        Count: {{markers.length}}
      </md-card-content>
    </md-card>
    <br>
  </div>
</div>
